/* styles/globals.css */
html, body, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif !important;
}
.parent {
  text-align: center;
  width: 100%;
  height: 100%;
}
.child {
  display: inline-block;
  padding: 0rem 2rem;
}
.child1:hover {
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 10;
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}
.child1 {
  transition: all .20s linear;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

