/* styles/globals.css */
html, body, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif !important;
  height: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  display: flex;
  flex-direction: column;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.parent {
  text-align: center;
  width: 100%;
  height: 100%;
}
.child {
  padding: 0.5rem 2rem;
}
.child1:hover {
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  z-index: 10;
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
}
.child1 {
  transition: all .20s linear;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

body {
  background-color: #F1F1F1;
}

header nav {
  display: flex;
  gap: 10px;
  padding: 16px;
}

header nav a {
  text-decoration: none;
  background-color: #4CAF50;
  color: white;
}

header nav a:hover {
  background-color: #ddd;
  color: black;
}

footer {
  margin-top: 20px;
  text-align: center;
}

.content {
  flex: 1;
}

.right {
  position: absolute;
  right: 20px;
  top: 5px;
}

